.features {
    background-color: $black;
}

.features__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__item {
    justify-content: center;
    width: 360px;
    height: 134px;
    padding: 104px 0;
}

.features__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.features__title {
    text-align: center;
    color: $white;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 19px 0 16px 0;
}

.features__text {
    text-align: center;
    color: $white;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}