.registration {
    background-color: $light-pink;
}

.registration__title {
    padding: 60px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $dark-pink;
}

.join-loyalty {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.join {
    margin-top: 64px;
    margin-right: 128px;
}

.join__title {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.join__text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: $text-input-color;
    width: 359px;
    margin-bottom: 39px;
}

.join__mark {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.join__mark-wpr {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.join__button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 66px 17px 29px;
    background-color: $dark-pink;
    color: white;
    text-transform: uppercase;
    border: none;
}

.field {
    width: 360px;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 0 0 17px;
    border: none;
    outline: 1px solid $text-input-color;
    color: $text-input-color;
}

input[placeholder]          {text-overflow:ellipsis;}
input::-webkit-placeholder  {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}  

.field:focus::-webkit-input-placeholder {color: transparent}
.field:focus:-moz-placeholder           {color: transparent}
.field:focus:-ms-input-placeholder      {color: transparent}

.loyalty {
    margin-top: 64px;
    width: 652px;
}

.loyalty__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
}

.loyalty__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px;
}
.loaylty__item {
    position: relative;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
}

.loaylty__item:after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: -23px;
    background-image: url(../img/loyal-img.png);
    background-size: 15px 15px;
}